# تجاهل الفولدرات المؤقتة لبايثون
__pycache__/
.ipynb_checkpoints/

# تجاهل ملفات الموديل والـ Pipeline المحفوظة (لأن حجمها كبير وبتتغير مع كل تدريب)
*.pkl
*.joblib

# تجاهل ملفات البيانات (Dataset) لو حجمها كبير جداً
*.csv
